In [1]:
import os
from pychartmogul.metrics import ChartMogulMetrics

In [2]:
account_token = os.environ.get('CHARTMOGUL_ACCOUNT_TOKEN')
secret_key = os.environ.get('CHARTMOGUL_SECRET_KEY')

In [3]:
wrapper = ChartMogulMetrics(account_token, secret_key)

In [4]:
wrapper.get_metric('mrr', '2016-06-01', '2016-06-10').head()

,mrr,mrr-churn,mrr-contraction,mrr-expansion,mrr-new-business,mrr-reactivation
date,,,,,,
2016-06-01,857416.56,-1364.75,-365.58,1503.46,1872.83,387.50
2016-06-02,860489.28,-1520.75,-231.17,1786.72,2723.42,314.50
2016-06-03,861630.33,-1405.50,-455.67,1098.47,1698.25,205.50
2016-06-04,861196.49,-1745.00,-313.92,591.24,925.34,108.50
2016-06-05,861444.90,-1445.00,-496.47,799.21,812.50,578.17

In [5]:
wrapper.get_summary('2016-01-01', '2016-01-11').head()

,arpa,arr,asp,customer-churn-rate,customers,ltv,mrr,mrr-churn-rate
date,,,,,,,,
2016-01-01,14.46,8489992.92,12.35,1.95,48865,276.080863,707499.41,0.81
2016-01-02,14.46,8494675.92,12.35,1.95,48865,276.080863,707889.66,0.81
2016-01-03,14.46,8500965.84,12.35,1.95,48895,276.080863,708413.82,0.81
2016-01-04,14.46,8520150.84,12.35,1.95,49017,276.080863,710012.57,0.81
2016-01-05,14.46,8538015.84,12.35,1.95,49098,276.080863,711501.32,0.81