In [1]:
import os
from pychartmogul.metrics import ChartMogulMetrics

In [2]:
account_token = os.environ.get('CHARTMOGUL_ACCOUNT_TOKEN')
secret_key = os.environ.get('CHARTMOGUL_SECRET_KEY')

In [3]:
wrapper = ChartMogulMetrics(account_token, secret_key)

In [4]:
wrapper.get_metric('mrr', '2016-06-01', '2016-06-10').head()

,mrr,mrr-churn,mrr-contraction,mrr-expansion,mrr-new-business,mrr-reactivation
date,,,,,,
2016-06-01,857416.56,-1364.75,-365.58,1503.46,1872.83,387.50
2016-06-02,860489.28,-1520.75,-231.17,1786.72,2723.42,314.50
2016-06-03,861630.33,-1405.50,-455.67,1098.47,1698.25,205.50
2016-06-04,861196.49,-1745.00,-313.92,591.24,925.34,108.50
2016-06-05,861444.90,-1445.00,-496.47,799.21,812.50,578.17

In [5]:
wrapper.get_metric('mrr', '2016-01-01', '2016-06-01', interval='month').head()

,mrr,mrr-churn,mrr-contraction,mrr-expansion,mrr-new-business,mrr-reactivation
date,,,,,,
2016-01-31,733932.82,-37270.25,-6623.39,16305.79,44161.26,10059.00
2016-02-29,757793.91,-40077.76,-6314.47,18036.32,43800.50,8416.50
2016-03-31,790626.07,-42673.81,-8833.96,24488.50,49591.59,10259.84
2016-04-30,821791.49,-40549.75,-11822.04,24231.97,49023.32,10281.92
2016-05-31,855383.10,-38345.75,-12248.98,27724.62,45781.80,10679.92