In [1]:
import os

from pychartmogul.metrics import ChartMogulMetricsClient
from pychartmogul.utils import response_to_dataframe

In [2]:
account_token = os.environ.get('CHARTMOGUL_ACCOUNT_TOKEN')
secret_key = os.environ.get('CHARTMOGUL_SECRET_KEY')

In [3]:
client = ChartMogulMetricsClient(account_token, secret_key)

In [4]:
response = client.get_metric('mrr', '2016-06-01', '2016-06-10')

In [5]:
response['entries'][0]

{'date': '2016-06-01',
 'mrr': 85741656,
 'mrr-churn': -136475,
 'mrr-contraction': -36558,
 'mrr-expansion': 150346,
 'mrr-new-business': 187283,
 'mrr-reactivation': 38750}

In [6]:
response_to_dataframe(response, in_dollars=True).head()

,mrr,mrr-churn,mrr-contraction,mrr-expansion,mrr-new-business,mrr-reactivation
date,,,,,,
2016-06-01,857416.56,-1364.75,-365.58,1503.46,1872.83,387.50
2016-06-02,860489.28,-1520.75,-231.17,1786.72,2723.42,314.50
2016-06-03,861630.33,-1405.50,-455.67,1098.47,1698.25,205.50
2016-06-04,861196.49,-1745.00,-313.92,591.24,925.34,108.50
2016-06-05,861444.90,-1445.00,-496.47,799.21,812.50,578.17

In [7]:
response_to_dataframe(client.get_summary('2016-06-01', '2016-06-10'), in_dollars=True)

,arpa,arr,asp,customer-churn-rate,customers,ltv,mrr,mrr-churn-rate
date,,,,,,,,
2016-06-01,15.49,10288998.72,14.66,5.18,55249,301.015921,857416.56,1.79
2016-06-02,15.53,10325871.36,14.66,5.18,55289,301.015921,860489.28,1.79
2016-06-03,15.54,10339563.96,14.66,5.18,55329,301.015921,861630.33,1.79
2016-06-04,15.54,10334357.88,14.66,5.18,55298,301.015921,861196.49,1.79
2016-06-05,15.55,10337338.80,14.66,5.18,55305,301.015921,861444.90,1.79
2016-06-06,15.56,10356012.72,14.66,5.18,55396,301.015921,863001.06,1.79
2016-06-07,15.54,10357645.68,14.66,5.18,55443,301.015921,863137.14,1.79
2016-06-08,15.56,10378364.64,14.66,5.18,55491,301.015921,864863.72,1.79
2016-06-09,15.56,10395229.68,14.66,5.18,55563,301.015921,866269.14,1.79
2016-06-10,15.59,10421989.68,14.66,5.18,55628,301.015921,868499.14,1.79