In [1]:
import os

from datetime import date

from pychartmogul.client import ChartMogulClient
from pychartmogul.utils import response_to_dataframe

In [2]:
account_token = os.environ.get('CHARTMOGUL_ACCOUNT_TOKEN')
secret_key = os.environ.get('CHARTMOGUL_SECRET_KEY')

### Connect to Chartmogul API

In [3]:
client = ChartMogulClient(account_token, secret_key)

### Get MRR

In [4]:
response = client.metrics.get_metric('mrr', '2016-06-01', '2016-06-10')

In [5]:
response['entries'][0]

{'date': '2016-06-01',
 'mrr': 85734090,
 'mrr-churn': -136475,
 'mrr-contraction': -36558,
 'mrr-expansion': 150346,
 'mrr-new-business': 187283,
 'mrr-reactivation': 38750}

In [6]:
response_to_dataframe(response, in_dollars=True).head()

,mrr,mrr-churn,mrr-contraction,mrr-expansion,mrr-new-business,mrr-reactivation
date,,,,,,
2016-06-01,857340.90,-1364.75,-365.58,1503.46,1872.83,387.50
2016-06-02,860413.62,-1520.75,-231.17,1786.72,2723.42,314.50
2016-06-03,861554.67,-1405.50,-455.67,1098.47,1698.25,205.50
2016-06-04,861120.83,-1745.00,-313.92,591.24,925.34,108.50
2016-06-05,861369.24,-1445.00,-496.47,799.21,812.50,578.17

### Get Customer Count

In [7]:
response = client.metrics.get_metric('customer-count', date(2016,6,25))

In [8]:
response['entries']

[{'customers': 56233, 'date': '2016-06-25'},
 {'customers': 56252, 'date': '2016-06-26'},
 {'customers': 56343, 'date': '2016-06-27'},
 {'customers': 56430, 'date': '2016-06-28'},
 {'customers': 56520, 'date': '2016-06-29'},
 {'customers': 56575, 'date': '2016-06-30'},
 {'customers': 56651, 'date': '2016-07-01'},
 {'customers': 56670, 'date': '2016-07-02'},
 {'customers': 56704, 'date': '2016-07-03'},
 {'customers': 56758, 'date': '2016-07-04'},
 {'customers': 56781, 'date': '2016-07-05'}]

In [9]:
response_to_dataframe(response).head()

            customers
date
2016-06-25      56233
2016-06-26      56252
2016-06-27      56343
2016-06-28      56430
2016-06-29      56520

### Metrics Summary

In [10]:
response_to_dataframe(client.metrics.get_summary('2016-06-01', '2016-06-10'), in_dollars=True)

,arpa,arr,asp,customer-churn-rate,customers,ltv,mrr,mrr-churn-rate
date,,,,,,,,
2016-06-01,15.49,10288090.80,14.66,1.73,55249,351.412713,857340.90,0.6
2016-06-02,15.53,10324963.44,14.66,1.73,55289,351.412713,860413.62,0.6
2016-06-03,15.54,10338656.04,14.66,1.73,55329,351.412713,861554.67,0.6
2016-06-04,15.54,10333449.96,14.66,1.73,55298,351.412713,861120.83,0.6
2016-06-05,15.55,10336430.88,14.66,1.73,55305,351.412713,861369.24,0.6
2016-06-06,15.56,10355104.80,14.66,1.73,55396,351.412713,862925.40,0.6
2016-06-07,15.54,10356737.76,14.66,1.73,55443,351.412713,863061.48,0.6
2016-06-08,15.55,10377456.72,14.66,1.73,55491,351.412713,864788.06,0.6
2016-06-09,15.56,10394321.76,14.66,1.73,55563,351.412713,866193.48,0.6
2016-06-10,15.59,10421081.76,14.66,1.73,55628,351.412713,868423.48,0.6